.chatbox {
	display: flex;
}

.chatside {
	flex: 20%;
	/* position: ; */
	margin: 2px;
	border-style: solid;
}

.chatside p {
	font-size: small;
	margin-top: 0;
}

.mychatlist, .createchat, .publicchatlist {
	border-style: dashed;
	margin: 1px;
}

.createchat label {
	font-size: small;
}

.chatcontent {
	margin: 2px;
	flex: 80%;
	border-style: dotted;

}

.formholder {
	display: flex;
	flex-direction: column;
	background-color: #dfdfdf46;
	padding: 1%;
	/* width: 100%; */
  }
  
