.chatbox {
	display: flex;
	/* height: 60%; */
}

.chatside {
	flex: 20%;
	margin: 2px;
}

.toborderside {
	border-style: solid;
}

.chatside p {
	font-size: small;
	margin-top: 0;
}

.mychatlist, .createchat, .publicchatlist {
	border-style: dashed;
	margin: 1px;
}

.createchat label {
	font-size: small;
}

.chatcontent {
	margin: 2px;
	flex: 80%;
	/* height: 900px; */
	/* max-height: 50%; */
}

.formholder {
	
	display: flex;
	flex-direction: column;
	background-color: #dfdfdf46;
	padding: 1px 5px 5px 5px;
	border-style: dotted;
	height: 700px;
	justify-content: space-between;
	/* height: 75%; */
	/* width: 100%; */
}
.buttonholder {
	display: flex;
	flex-direction: row;
}

.chatbutton {
		width: 80%;
		background-color: #837ca36b;
		border: none;
		border-radius: 2px;
		color: white;
		padding: 5% 2% 5% 2%;
		margin: 0.5%;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 1vw;
		cursor: pointer;
}
.chatbuttondel {
		width: 20%;
		background-color: #837ca36b;
		border: none;
		border-radius: 2px;
		color: white;
		padding: 5% 2% 5% 2%;
		margin: 0.5%;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 1vw;
		cursor: pointer;
}

.chatbutton:hover {
	background-color: #837ca39b;
  }

.chatbuttondel:hover {
	background-color: #b300007c;
  }

.chatheader {
	border-style: dotted;
	border-radius: 10px;
	padding: 2px;
	margin-bottom: 5px;
}

/* Massage LIST */

.message-list {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: scroll ;
	/* justify-content: flex-end; */

}

.message {
	display: flex;
	flex-direction: column;
	background-color: rgba(3, 169, 3, 0.208);
	width: fit-content;
	border: 1px;
	max-width: 60%;
	border-style: solid;
	border-radius: 10px;
	margin-bottom: 5px;
	padding: 0 10px 5px 10px;
}

.datetime {
	color: rgb(36, 21, 21);
	font-size: xx-small;
	padding-top: 2px;
}

.sender {
	font-size: small;
	color: black;
}

.chattext {
	font-size: medium;
	margin-left: 6px;
}

.message-reverse {
	background-color: rgba(49, 110, 215, 0.232);
	align-items: end;
	margin-left: auto;
}
/* chat input */

.inputgroup {
	display: flex;
	width: 100%;
}
.inputgroup form {
	display: flex;
	width: 100%;
}
.inputgroup input[type=text] {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.596);
	border: none;
	border-radius: 10px;
}

.chatsendbutton {
	font-size: large;
	border: none;
	border-radius: 40px;
	background-color: rgba(26, 104, 126, 0.46);
	display: flex;
	flex: 10%;
	/* height: 100%; */
	padding: 5px;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
	cursor:pointer;
}

.usersinchatcontainer {
	display: flex;
	flex-direction: row;
}

.usersinchatsingle button:first-child:hover {
	background-color: #68bd9b9c;
}
.usersinchatsingle a button:first-child {
	background-color: #68bd9b70;
	padding-right: 2px;
	padding-left: 4px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin:  0;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	font-size: smaller;
}
.usersinchatsingle button:hover {
	background-color: #7868bd93;
}
.usersinchatsingle button:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.usersinchatsingle button {
	background-color: #7868bd56;
	border: none;
	margin-right: 1px;
	height: 100%;
}

.usersinchatsingle {
	display: flex;
	align-items: center;
	font-size: small;
	margin-right: 3px;
	border-style: solid;
	border-radius: 10px;
	justify-content: center;
	/* padding: 5px; */
	margin-top: 0;
	margin-bottom: 0;
}

.adduserdivcontainer {
	font-size: x-small;
	display: flex;
	flex-direction: row;
}

.adduserdiv {
	display: flex;
	flex-direction: row;
}

.adduserbutandp {
	font-size: small;
	display: flex;
	margin-left: 2px;
	margin-right: 2px;
}
.adduserbutandp p {
	font-size: small;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.adduserbutandp button {
	background-color: rgba(130, 203, 40, 0.474);
	border: none;
	border-radius: 10px;
	padding: 4px;
}
.adduserbutandp button:hover {
	background-color: rgba(130, 203, 40, 0.61);
}


/* scrollbar */

/* width */
::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgba(172, 160, 160, 0.12); 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: rgba(172, 160, 160, 0.578); ; 
  }